---
layout: default
---

<main class="landing">
  <header>
    <h1>{{ site.title }}</h1>
    <div class="text">
      Bring the web to the desktop.
    </div>
  </header>
  <section class="example">
    <div class="text">
      Turn web applications into native desktop apps.
    </div>
    <div class="column-container">
      <div class="column">
        <div class="window">
          <div class="titlebar">
            <span class="title">
              app.lisp
            </span>
          </div>
          <div class="body">
            <div class="code">
              <pre><code class="lisp">;; Load Ceramic and our app
(ql:quickload '(:ceramic :lucerne-utweet))

;; Ensure Ceramic is set up
(ceramic:setup)
(ceramic:interactive)

;; Start our app
(lucerne:start utweet.views:app :port 8000)

;; Open a browser window to it
(defvar window (ceramic:make-window :url "http://localhost:8000/"))

(ceramic:show-window window)</code></pre>
            </div>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="window">
          <div class="titlebar">
            <span class="title">
              utweet
            </span>
          </div>
          <div class="body app-screenshot"></div>
        </div>
      </div>
    </div>
    <div class="text">
      <a class="get-started" href="/docs/tutorial.html">
        Get Started
      </a>
    </div>
  </section>
  <section class="platform">
    <div class="text">
      Ship everywhere.
    </div>
    <div class="desc">
      <p>
        Ceramic is built on top of <a href="{{ site.links.electron }}">Electron</a>,
        the same library that powers the <a href="{{ site.links.atom }}">Atom</a> text
        editor, and this enables it to run on the three major platforms:
        Windows, Mac and Linux.
      </p>
    </div>
    <ul class="systems">
      <li><i class="fa fa-windows"></i></li>
      <li><i class="fa fa-apple"></i></li>
      <li><i class="fa fa-linux"></i></li>
    </ul>
  </section>
  <section class="bundle">
    <div class="text">
      Compile to native executables.
    </div>
    <div class="desc">
      Don't worry about having to minify your JS: Ceramic applications are
      compiled down to native code, ensuring both performance and enabling you
      to deliver closed-source, commercial applications.
    </div>
    <div class="window">
      <div class="titlebar">
        <span class="title">
          *slime-repl sbcl*
        </span>
      </div>
      <div class="body">
        <div class="code">
          <pre><code class="lisp">CL-USER> (ceramic.bundler:bundle :ceramic-hello-world
                                 :bundle-pathname #p"/home/eudoxia/app.tar")
Copying resources...
Compiling app...
Compressing...
Done!
#P"/home/eudoxia/app.tar"</code></pre>
        </div>
      </div>
    </div>
  </section>
  <section class="example">
    <div class="text">
      Example: <a href="{{ site.links.markedit }}">MarkEdit</a>
    </div>
    <div class="image">
      <img src="/assets/img/markedit.png"/>
    </div>
  </section>
</main>
